################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/MusicPlayer/FileContentIndex/c3562e06-1d2d-4ce4-bfed-63eb3e96c089.vsidx
/.vs/MusicPlayer/FileContentIndex/15442b06-102e-498b-9451-462640c531c7.vsidx
/.vs/MusicPlayer/FileContentIndex/46c17d66-9d6c-4870-8695-45f469078704.vsidx
/.vs/MusicPlayer/FileContentIndex/d742f93e-b414-43b7-a0a7-77ac0ed00b12.vsidx
/.vs/MusicPlayer/FileContentIndex/f68b7016-f561-412e-af87-91f47cb40c8a.vsidx
